
/*page*/
  html, body {width:100%;height:100%;padding:0;margin:0}
  body {padding:0; margin:0;background:#383838 url(../images/bgr/body.png) repeat-y center top;}

/*
  #SomeBox
  {
    position - position [ left , top ] ,
    liquid model - float, clear,
    block modle - display, width, height, margin, padding, overflow,
    visual property - background, border,
    text property - list-style, text-align
   }
*/

/*design*/
  a img{border:0;vertical-align:top}

/*navigation*/
  a {font:1em/1.5 verdana; color:#1f70a8;text-decoration:underline;}
  a:hover {text-decoration:none;}
  :focus, a:active { outline: none; }
  form :focus, form a:active { outline:1px dotted;}

/*TAGS*/
  h1 {margin:0;padding: 0;font: 30px verdana; color:#dcdcdc;}
  h2 {margin:0 0 26px 0;padding: 0;font:26px verdana;color:#dcdcdc;}
  h3 {margin: 0;padding:0;font:1.8em verdana;color:#dcdcdc;}
  h4 {margin:0;padding: 0;font:bold 1.6em verdana;color:#dcdcdc;}
  dl, dt, dd, form {margin:0;padding: 0;}
  input {margin:0;vertical-align:middle;}
  p {margin: 0;padding:5px 0;font-size:14px}
  select {vertical-align:middle;}
  table {border-spacing: 0;border-collapse: collapse;}
  table td {padding:0;text-align:left;vertical-align:top;}
  ul {margin: 0;padding: 10px 20px;}




/*FONT*/
  html {font-size:100%;}
  body {font:62.5%/1.5 verdana, sans; color:#fff}
  table, td, th, ul, textarea, input, select {font: 1em/1.5 verdana;}

/*Misc*/
  .clearing {clear: both;height:0;font-size:0;overflow:hidden;}
  .clearFix:after {content: '.';display: block;clear:both;visibility: hidden;height:0;font-size:0;}

/*layout*/

  /*=HEADER*/
    #header {height:233px;position:relative;position:relative;z-index:100}
    .contact{position:absolute;right:0;top:0;font-size:14px;line-height:2;color:#fff;text-align:right;top:30px}
    .main_menu {padding:0;margin:0 0 0 -1px;}
    .main_menu li{float:left;padding:0;margin:0 0px 0 1px;list-style-type:none;text-align:center;position:relative;height:61px}
    .main_menu ul{position:absolute;left:0;top:60px;padding:0;margin:0;display:none}
    .main_menu .contact_li ul{right:0;left:auto}
    .main_menu a{display:block;width:139px;height:48px;background: url(../images/bgr/a.jpg) no-repeat left top;padding-top:9px}
    .main_menu a:hover{background: url(../images/bgr/a.jpg) no-repeat left bottom;}
    .main_menu ul a{background:url(../images/bgr/a_no.jpg) no-repeat left top;height:27px;color:#000;font-size:14px;padding:0 4px;text-decoration:none;width:auto;white-space:nowrap}
    .main_menu ul a:hover{background:url(../images/bgr/a_active.jpg) no-repeat left top;margin:0 0 0px 0;color:#fff;height:27px;}
    .main_menu ul li{float:none;padding:0 0 0px 0;height:auto;text-align:left;height:27px;}

  /*=MENU*/
    #menu {background: silver;}

  /*=CONTENT*/
  #out_wrapper{background: url(../images/bgr/out.png) repeat-x left top;min-height:100%;height:100%;position:relative;padding:0;margin:0;overflow:hidden}
    #wrapper {width:982px;margin:0 auto;overflow:hidden;padding:0}
    #inside_page #wrapper{}
      html>body #out_wrapper {height:auto;}
      #body {padding:0 0 87px;}
      #inside_page #body {padding:0 0 250px;background: url(../images/bgr/body2.png) repeat-y left top;}
        #body:after {content: '.';display: block;clear:both;visibility: hidden;height:0;font-size:0;}
        #main_col {float: right;width:100%;position:relative;z-index:10}
        #main_col_content {margin: -1px 0 0 0px;line-height:1.2}

        .gallery{}
        .gallery ul{padding:0;margin:0;}
        .gallery li{padding:0;margin:0;list-style-type:none;float:left;}


        .catalog{background:#000 url(../images/bgr/catalog.png) no-repeat left top;padding:9px 0 0 11px}
        .catalog:after {content: '.';display: block;clear:both;visibility: hidden;height:0;font-size:0;}
        .catalog img{vertical-align:top}
        .catalog ul{padding:0;margin:0 0 0 -65px;}
        .catalog li{padding:7px 0 0 0;margin:0 0 0 65px;list-style-type:none;width:276px;background: url(../images/bgr/top.jpg) no-repeat left top;position:relative;overflow:hidden;float:left;text-align:center}
        .catalog li img{padding:0 0 8px 0}
        .more{width:89px;height:65px;background: url(../images/bgr/more.png) no-repeat left bottom;position:absolute;right:24px;bottom:0}
        .more:hover{width:89px;height:65px;background: url(../images/bgr/more.png) no-repeat left top;position:absolute}
        .catalog dl{background:#7b706c url(../images/bgr/bottom.png) no-repeat left bottom;text-align:left}
        .catalog dd{font-size:14px;line-height:1.2;padding:5px 10px 0px 19px;}
        .catalog li dt img{padding:0}

        .news{position:relative;background:#292929 url(../images/bgr/news.jpg) no-repeat left top;padding:5px 0 0 21px;position:relative;margin:0 0 0px 0}
        .news dl:after {content: '.';display: block;clear:both;visibility: hidden;height:0;font-size:0;}
        .news dl{padding:0 0 20px 0}
        .news dt{margin:0 45px 0 23px;float:left}
        .news span{font-size:14px;color:#e30b0d;display:block;margin:0 0 15px 0}
        .news a{color:#ffffff;font-size:14px}
        .news dd{position:relative;top:-2px}
        .news p{padding-top:10px}
        .all{position:absolute;width:89px;height:65px;background: url(../images/bgr/all.png) no-repeat left top;right:32px;bottom:-54px}
        .all:hover{position:absolute;width:89px;height:65px;background: url(../images/bgr/all.png) no-repeat left bottom;}
        .news_bottom{font-size:0;height:11px;background: url(../images/bgr/bottom_news.jpg) no-repeat left top;margin:0 0 1px 0}

        .activity{background: url(../images/bgr/mirrow.png) no-repeat left top;padding:43px 0 0 0;font-size:14px}
        .activity li img{vertical-align:top;padding:0 0 33px 0}
        .activity:after {content: '.';display: block;clear:both;visibility: hidden;height:0;font-size:0;}
        .activity ul{padding:0;margin:0 0 0 -32px}
        .activity li{padding:24px 0 0 0;margin:0 0 0 32px;float:left;list-style-type:none;text-align:center;background: url(../images/bgr/activity_top.jpg) no-repeat left top;width:306px;position:relative}
        .activity dl{background: url(../images/bgr/.gif) no-repeat left top;text-align:left;background:#7b706c url(../images/bgr/bottom_activity.png) no-repeat left bottom;}
        .activity dd{padding:10px 10px 0 20px;line-height:1.3;}
        .activity dt img{padding:0}
        .activity .more{bottom:15px;right:14px}


        .info_block{background: url(../images/bgr/info_block.png) no-repeat left top;padding:50px 0 0 16px}

        .front_gallery{padding:0;margin:0 0 0 -48px;font-size:12px}
        .front_gallery:after {content: '.';display: block;clear:both;visibility: hidden;height:0;font-size:0;}
        .front_gallery li{padding:0;margin:0 0 25px 48px;list-style-type:none;float:left}
        .front_gallery li dl{width:152px}
        .front_gallery li.clearing{padding:0;margin:0;float:none;width:100%}
        .front_gallery img{vertical-align:top;}
        .front_gallery dt:after {content: '.';display: block;clear:both;visibility: hidden;height:0;font-size:0;}
        .front_gallery dt a{border:9px solid #6f1212;overflow:hidden;display:block;float:left}
        .front_gallery dt a:hover{border:9px solid #ffffff;overflow:hidden;display:block;float:left}
        .front_gallery dt{margin:0 0 6px 0}
        .front_gallery dd{line-height:2;}


  /*=SIDEBAR*/
    #sidebar {float: left;width: 269px;margin: 0 -269px 0 0;}

  /*=FOOTER*/
    #footer {position:absolute; bottom:0px;clear:both;width:100%;height:176px;background: url(../images/bgr/footer.png) repeat-x left bottom;}
    #inside_page #footer {position:absolute; bottom:0px;clear:both;width:100%;height:176px;background: url(../images/bgr/footer2.png) repeat-x left bottom;}
    #footer p{font-size:14px;width:982px;left:50%;margin:0 0 0 -491px;position:absolute;top:105px;line-height:1.3}
    #inside_page #footer p{background: url(../images/bgr/footer3.png) no-repeat left top;top:0;height:65px;padding:330px 0 0 0}
    #inside_page #footer{height:395px}
        .footer a{text-decoration:none;color:#c0c0c0;font-size:14px}
#footer a{text-decoration:none;color:#c0c0c0;font-size:14px}

/*form*/
  .field {clear:both;padding:0;margin:0 0 20px;padding:0 0 0 215px;}
    .field:after {content: '.';display: block;clear:both;visibility: hidden;height:0;font-size:0;}
    .field dt {position:relative;left:-215px;float:left;width:200px;text-align:right;margin:0 -200px 0 0;}
      .field dt label {margin:0;}
    .field dd {float:left;}
  label {margin:0 15px 0 0;}
  select{border:solid 1px #A5ACB2;width:248px;height:1.8em;}
  textarea {width:248px;height:100px;border:solid 1px #A5ACB2;}
  .form_buttons {margin:0 0 0 215px;}
  input[type="text"] {width:200px;height:1.5em;border:solid 1px #A5ACB2;}
  .input_text {width:200px;height:1.5em;border:solid 1px #A5ACB2;}



/*
#lightbox{
    display:none;
    position: absolute;
    top:50%;
    left:50%;
    z-index:9999;
    width: 1024px;
    height: 1024px;
    margin:-250px 0 0 -250px;
    background:#fff;
    text-align:center;
    vertical-align: 50%;
    border: 2px solid black; 
}

#lightbox.done #lbContent{
    display:block;
    width: 1004px;
    height: 1004px;
    border: 10px solid white;
}
*/
